- if @skills.empty?
  .empty-skill-index
    %a{:href => "/skills/new"} Add a skill to the Skill Inventory

- else
  .skill-index
    - @skills.each do |skill|
      %div{:id => "skill-#{skill.id}"}
        %a{:href => "/skills/#{skill.id}"}= skill.title.capitalize
        %a{:href => "/skills/#{skill.id}/update"} Update
        %form{:id => "delete-skill-#{skill.id}"}
          %input{:type => "hidden", :name => "_method", :value => "delete"}
          %input{:type => "submit", :value =>"Delete"}
